<!-- Le conteneur principal pour le fond d'écran et le centrage -->
<div class="reset-page-wrapper">
    <div class="form-box glass-card animated-card">
        <div class="logo-container">
            <!-- Votre logo est maintenant de retour dans le code -->
            <img src="../assets/img/942759.png" alt="Logo" class="logo-resized">
        </div>
        <p class="instructions">
            Enter the email address associated with your account and we'll send you a link to reset your password.
        </p>
        <!-- Form with Angular logic -->
        <form (ngSubmit)="onSubmit()">
            <label for="email" class="sr-only">Email:</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Email" required>
            <button type="submit">Continue</button>
        </form>
        <p class="signup">
            Don't have an account? <a href="#">Sign up</a>
        </p>
    </div>
</div>